.darkHero{
    display: flex;
    background: #222;
}

.darkBar{
    width: 830px;
    flex-grow: 1;
}

.darkImage{
    flex-grow: 2;
}

.imgItself{
    height: 800px;
    background: url('../../assets/img/about.jpg');
    background-size: cover;
    background-position: center;
}

h1{
    color: #fff;
    text-transform: uppercase;
    padding-left: 100px;
    padding-top: 340px;
    font-size: 2.7em;
    position: absolute;
}

.about{
    color: #fff;
    padding: 80px;
    text-align: left;
    font-size: 1.1em;
}

.about span{
    color: #fac413;
    font-size: 1.5em;
    font-weight: 900;
}

div {
  box-sizing: border-box;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
}

#group1 {
  height: 1140px;
  position: relative;
  transform-style: preserve-3d;
  font-size: 20px;
  z-index: 10;
}

#group2 {
    height: 1240px;
    position: relative;
    transform-style: preserve-3d;
}

#group3 {
    height: 1240px;
    position: relative;
    transform-style: preserve-3d;
}

.extra{
    display: flex;
    justify-content: flex-end;
    width: 70vw;
}

.extra p{
    padding-top: 80px;
    max-width: 1100px;
    text-align: left;
}

.manSection2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 60vw;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    z-index: 5;
    padding-top: 150px;
}

.manSection {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 80vw;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    z-index: 5;
    padding-top: 150px;
}

.infoCrate{
    display: flex;
    justify-content: flex-end;
    width: 58vw;
    position: absolute;
    top: 0;
    z-index: 10;
    padding-top: 100px;
}

.infoCrate2{
    display: flex;
    justify-content: flex-end;
    width: 72vw;
    position: absolute;
    top: 0;
    z-index: 10;
    padding-top: 100px;
}

.crate h6{
    color: #fac413;
    margin: 0;
    font-size: 2em;
    text-align: left;
}

.crate{
    text-align: left;
    padding: 60px 35px 45px 35px;
    background: #222;
    max-width: 500px;
}

.crate p{
    color: #fff;
}

.manImg{
    width: 700px;
    height: 800px;
}

.caption{
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    position: absolute;
    top: -300px;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-1px) scale(1.27);
    transform: translateZ(-1px) scale(1.27);
    padding-left: 255px;
}

.capTit{
    font-size: 10em;
    font-weight: 900;
    color: #e8e8e8; 
}

.backText{
    height: 500px;
    background: url('../../assets/img/backText.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crtTetxt{
    text-align: left;
}

.backLogo{
    height: 100px;
    position: relative;
    z-index: 10;
}

h3{
    color: #e8e8e8;
    font-size: 12.5em;
    font-weight: 900;
    text-transform: uppercase;
}

h4{
    color: #fac413;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
    text-align: left;
}

.aboutMob{
    display: none;
    background: #222;
    margin: 0;
    padding: 30px;
    position: relative;
    top: -1px;
    text-align: left;
}

.aboutMob p{
    color: #cecece;
    margin: 0;
    padding-top: 5px;
}

.eiblBig{
    text-align: center;
    font-size: 1.8em;
    color: #fac413;
    font-weight: 900;
}

.projs{
    display: flex;
    justify-content: space-around;
    
}

.statHead{
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-right: 1150px;
    font-size: 9.5em;
}

.sertHead{
    margin: 0;
    padding: 80px 0;
    font-size: 9.5em;
    position: absolute;
    left: 250px;
}

.projDesc{
    max-width: 500px;
    padding: 0 50px;
}

.projDesc p{
    text-align: left;
    margin: 0;
}

.title{
    padding-bottom: 30px;
    font-size: 1.5em;
    color: #222;
    font-weight: 900;
}

.strat{
    display: flex;
    align-items: center;
    padding: 80px 0;
    flex-direction: column;
}

.stratText{
    max-width: 1150px;
    text-align: left;
}


.photoBlock{
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1rem;
  padding-bottom: 0px;
}

.seertBlock{
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 1rem;
  padding-bottom: 100px;
  padding-top: 350px;
}

.btn-more{
    float: right;
    position: relative;
    top: 20px;
    right: 50px;
    color: #222;
}

.cell img {
  display: block;
}

.cell {
  margin: 1rem;
}

.responsive-image {
  max-width: 100%;
}

@media screen and (max-width: 1920px){
    .statHead{
        padding-right: 600px;
    }
    .sertHead{
        left: 210px;
    }
    
}

@media screen and (max-width: 1440px) {
    .darkBar{
        width: 1600px;
    }
    .about{
        padding-left: 0px;
    }
    .statHead{
        padding-right: 250px;
    }
    .sertHead{
        left: 160px;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .seertBlock{
        padding-top: 260px;
    }
    .imgItself{
        height: 600px;
    }
    #group1{
        height: 900px;
    }
    .caption{
        padding-left: 100px;
    }
    .extra{
        padding-left: 100px;
    }
    #group2{
        margin-top: 100px;
    }
}

@media screen and (max-width: 1250px){
    #group2{
        margin-top: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .stratText{
        padding-left: 25px;
        padding-right: 25px;
    }
    .sertHead{
        left: 0;
    }
    .caption{
        padding-left: 30px;
    }
    .extra{
        padding-left: 30px;
    }
    #group2{
        top: 100px;
        height: 1500px;
    }
    .statHead{
        padding-right: 0px;
    }
}

@media screen and (max-width: 850px) {
    .about{
        padding: 30px 30px 30px 0;
    }
    .projs{
        flex-wrap: wrap;
    }
    .projDesc{
        max-width: 650px;
        padding-bottom: 50px;
    }
    .seertBlock{
        padding-bottom: 50px;
    }
    .statHead{
        padding-right: 50px;
    }
    #group2{
        justify-content: center;
        margin-top: 100px;
    }
    #group3{
        height: 1350px;
    }
    .manSection2{
        width: 95vw;
    }
    .infoCrate, .infoCrate2, .manSection, .manSection2{
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .about{
       opacity: 0;
    }
    .darkHero{
        height: 500px;
    }
    .aboutMob{
        display: block;
    }
    .imgItself{
        height: 500px;
    }
    .darkBar h1{
         padding-top: 200px;
        padding-left: 20px;
        font-size: 2em;
    }
    .about{
        padding: 0 15px;
    }
    .backText{
        height: 300px;
    }
    .strat{
        padding: 30px 0;
    }
    .projDesc{
        padding: 15px;
    }
    #group2{
        margin-top: 0px;
        top: 0px;
        height: 1350px;
    }
    #group3{
        height: 1250px;
    }
    .sertHead, .statHead{
        font-size: 7em;
        padding-right: 0;
    }
    .capTit{
        font-size: 7em;
        position: relative;
        top: 50px;
    }
    .extra p{
        padding-top: 20px;
    }
    .sertHead{
        padding-top: 70px;
    }
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}
