<section class="abs">
  <app-header></app-header>
</section>

<div id='container'>
  <div id="group1">
    <div class="foreground">
      <div class="darkHero">
        <div class="darkBar">
          <h1>О компании</h1>
        </div>
        <div class="darkImage">
          <div class="imgItself"></div>
          <p class="about"><span>['eibl] </span> - С 2013 года нами было задумано и успешно реализовано множество проектов. Транспортное, гидротехническое, гражданское строительство, инфраструктура, возведение зданий и сооружений стали основными направлениями нашей деятельности. Для их реализации требуется четкая организация производственного процесса, поэтому мы разработали собственную платформу ОСКК (Оперативная Служба Контроля и Коммуникации).</p>
        </div>
      </div>
    </div>
  </div>
  <div id="group2">
    <div class="infoCrate">
      <div class="crate">
        <h6>ОСКК</h6>
        <p>Данная платформа была разработана и интегрирована для удобства Заказчика в целях обеспечения возможности удаленного управления и тотального контроля над любым процессом. С помощью нашей авторской системы можно вести непрерывную оперативную связь и минимизировать
риски. Также платформа структурирует деятельность в сфере строительства и инженерии, общественного освещения и социального значения, интегрального обслуживания систем ITS (интеллектуальных транспортных систем) и инженерии.
          </p>
        </div>
    </div>
    <div class="manSection">
      <img src="../assets/img/man.jpg" class="manImg" alt="">
    </div>
    
    <div class="caption">
      <p class="capTit">ЦЕННОСТИ</p>
    </div>

    <div class="extra"><p>Сотрудники нашей компании творчески подходят к работе и могут визуализировать любой этап проекта для наглядности и Вашего удобства, ведь Ваша удовлетворенность в наших интересах.</p></div>
  </div>

  <div id="group3">
    <div class="infoCrate2">
      <div class="crate">
        <h6>КАДРОВАЯ ПОЛИТИКА</h6>
        <p>В компании [‘eibl] каждый сотрудник имеет возможность генерировать задачи и отслеживать их самостоятельно. Это отличная возможность проявить себя лидером и управленцем, ведь продвижение сотрудника зависит не от уровня его образования, а от его желания, упорства и усердия. Сплоченный коллектив высококвалифицированных специалистов - наш основной ресурс.
          </p>
        </div>
    </div>
    <div class="manSection2">
      <img src="../assets/img/counter.jpg" class="manImg" alt="">
    </div>
    
    <div class="caption">
      <p class="capTit">ПОЛИТИКА</p>
    </div>

    <div class="extra"><p>Чтобы обеспечить безопасные условия труда для работников ТОО [‘eibl] и защитить инвестиции и объекты наших клиентов, была принята корпоративная культура техники безопасности. Если внимательно соблюдать стандарты охраны труда, здоровья и окружающей среды, можно избежать нежелательных происшествий на рабочем месте.</p></div>
  </div>

  <div class="backText">
    <h3 class="sertHead" style="opacity: 0.3;">Стратегия</h3>
    <img src="../../assets/img/logo.svg" class="backLogo" alt="">
  </div>
  <div class="strat">
    <div>
      <p class="stratText">Преимущество и потенциал компании [‘eibl] заключаются в постоянном апгрейде путем применения современных технологий, различных форм коммуникаций и мотивации всех сотрудников предприятия. Мы привержены делать работу высшего качества и значимости, развивая плодотворные отношения с клиентами, партнерами и поставщиками. В [‘eibl] мы не перестаем поднимать планку, мы совершенствуемся во всем, будь это строительство и инженерия, средства коммуникации или IT, инновации или технологии, архитектура и индустрия графики. Основываясь на уникальных вызовах и целях каждого проекта, мы обязуемся работать как команда и выбирать лучшие инструменты для выполнения поставленных задач.</p>
    </div>
    <div>
      <h3 class="statHead">Проекты</h3>
    </div>
    <div class="projs">
      <div class="projDesc">
        <p class="title">Проект «Курык»</p>
        <p>Строительство паромного комплекса в порту Курык (Каракиянский район) позволит обеспечить перевалку грузов (зерна, нефтепродукты, сжиженный углеводородный газ, удобрения, химикаты), не выгружая их из вагонов, в страны Каспийского региона и дальше в Европу.</p>
      </div>
      <div class="projDesc">
        <p class="title">Проект «Аркалык – Шубарколь»</p>
        <p>Построенная железнодорожная линия оживила сразу несколько регионов на годы вперед. Бывшая ранее тупиковая станция теперь расположена на транзитном пути из Азии в Европу. От сокращения расстояний, сроков доставки выигрывает весь Казахстан.</p>
      </div>
      <div class="projDesc">
        <p class="title">Проект «ИИНС»</p>
        <p>Медиаборд может использоваться как информационное наполнение городского уличного пространства, также они отражают классификацию загруженности дорог, плотность транспортного движения, городскую транспортную навигацию, то есть вся та полезная информация, в которой нуждаются как жители, так и гости города.</p>
      </div>
    </div>
  </div>
  <div class="photoBlock">
    <div class="grid">
      <div class="cell">
        <img src="../assets/img/sea.jpg" class="responsive-image">
      </div>
      <div class="cell">
        <img src="../assets/img/wagons.jpg" class="responsive-image">
      </div>
      <div class="cell">
        <img src="../assets/img/truck.jpg" class="responsive-image">
      </div>
      <div class="cell">
        <img src="../assets/img/trains.jpg" class="responsive-image">
      </div>
      <div class="cell">
        <img src="../assets/img/ex.jpg" class="responsive-image">
      </div>
      <div class="cell">
        <img src="../assets/img/port.jpg" class="responsive-image">
      </div>
    </div>
    <button class="btn btn-more">Показать Еще</button>
  </div>
  <div>
      <h3 class="sertHead">Сертификаты</h3>
  </div>
  <div class="seertBlock">
    <div class="grid">
      <div class="cell">
        <img src="../assets/img/sert1.jpg" class="responsive-image">
      </div>
      <div class="cell">
        <img src="../assets/img/sert2.jpg" class="responsive-image">
      </div>
      <div class="cell">
        <p class="crtTetxt">Мы гордимся своими реализованными проектами и всегда ведем дела с высочайшим уровнем честности. Мы берем на себя ответственность за все наши действия. Об успехах нашей компании свидетельствуют многочисленные сертификаты.</p>
        
      </div>
    </div>
  </div>
  <div style="background: #222;">
  <app-footer></app-footer>
  </div>
</div>
