<section class="abs">
  <app-header></app-header>
</section>

<div class="content">
  <div class="slider">
    <div class="mainFrame" [style.background-image]="'url(' + img[0] + ')'" >
      <div class="controls">
        <div class="switches">
          <div class="switch active"><p>01</p></div>
          <div class="switch"><p>02</p></div>
          <div class="switch"><p>03</p></div>
          <div class="switch"><p>04</p></div>
        </div>
      </div>
    </div>
    <div class="thumbnails">
      <div class="thumb" *ngFor="let thumb of pages; let i = index; let last = last" [style.backgroundImage]="'url(' + thumb.img + ')'" [ngClass]="{'lastThumb': last }"></div>
    </div>
  </div>
  <div class="desc">
    <div class="item" id="tt">
      <h1>Порт “Курык”</h1>
      <h2>24 га</h2>
      <p>Общая площадь территории</p>
      <h2>2 года</h2>
      <p>Период реализации проекта</p>
      <h2>32,1 миллиард тенге</h2>
      <p>Стоимость проекта</p>
      <p class="title">Описание проекта</p>
      <div class="div"></div>
      <p class="text">
        Порт «Курык» - это не просто паромный комплекс, это долгожданный проект, очень нужный для развития и модернизации, как отметил президент Нурсултан Назарбаев. Это важное звено транспортно-логистической системы Транскаспийского международного коридора. Это выход на Кавказ и в Европу. Проектная мощность комплекса составляет 5,1 миллионов тонн грузов в год. Комплекс ориентирован на перевалку зерна, нефтепродуктов, удобрений, химикатов и других грузов в сопредельные государства Каспийского региона.
      </p>
      <button class="btn btn-next">Перейти к следующему проекту <i class="fa fa-angle-right fafa" aria-hidden="true"></i></button>
    </div>
    <div class="item">
      <div class="close">
          <img routerLink="/portfolio" src="../assets/img/cancel.svg" class="cancel">
      </div>
    </div>
    
  </div>
  
</div>
<p class="extra">Мы создали паромный комплекс, способный обслужить 5 паромов в сутки и обеспечить обработку запланированного грузопотока в железнодорожных

вагонах и автотрейлерами в объеме 4,1 млн. тонн в год на паромных линиях, связывающих порт «Курык» с портами Баку, Махачкала, Оля, Туркменбаши, и Анзали в Каспийском море.</p>

<div>
  <app-footer></app-footer>
</div>
