.content{
    background: #222;
    display: flex;
}

p{
    margin: 0;
}

.slider{
    flex-grow: 3;
    height: 600px;
    background: red;
    padding-top: 280px;
    padding-left: 100px;
}

.desc{
    flex-grow: 2;
    height: 600px;
    background: blue;
    padding-top: 280px;
}

.lastThumb{
    margin-right: 0 !important;
}

.thumbnails{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 160px;
}

.thumb{
    background: purple;
    width: 100%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
}

.mainFrame{
    width: 100%;
    height: 720px;
    background: yellow;
    background-size: cover;
    background-position: center;
    
}

.controls{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.switches{
    display: flex;
    padding: 20px;
    background: #222;
    opacity: 0.8;
}

.switch{
    font-size: 1em;
    font-weight: 900;
    
}

.switch.active p{
    opacity: 1;
}

.switch p{
    opacity: 0.5;
    cursor: pointer;
    color: #fff;
    padding: 0 10px 5px 10px;
    border-bottom: 3px solid #fff;
}