<section class="abs">
    <app-header-dark></app-header-dark>
</section>

<div id="portfolio">
    <div class="blackBar">
        <h1>РаботЫ</h1>
    </div>
    <div class="content">
        <div class="select">
            <div class="proj">
                <div class="projIn">
                    <div class="line"></div>
                    <p>Курык</p>
                </div>
            </div>
            <div class="proj" id="ark">
                <div class="projIn">
                    <div class="line"></div>
                    <p>Аркалык-Шубарколь</p>
                </div>
            </div>
            <div class="proj" id="iins">
                <div class="projIn">
                    <div class="line"></div>
                    <p>ИИНС</p>
                </div>
            </div>
        </div>
        <div class="inf">
            <div class="infoBlock">
                <p class="port">Портфолио</p>
                <p class="text">Услуги, предоставляемые компанией [‘eibl] : электроснабжение и электроосвещение, устройство прожекторных мачт, электроснабжение кранов, устройство троллейных опор, тепловые сети, устройство КТП, РП, ДГУ, устройство блочно-модульной котельной, устройство КНС, аккумулирующей емкости, устройство блоков очистки дождевых и бытовых стоков, устройство насосных станций очищенных стоков, устройство резервуаров исходной воды, резервуаров-усреднителей, наружные сети связи, устройство видеонаблюдения, устройство прудов-испарителей, устройство модуля пенного пожаротушения, устройство воздушной линии ВЛ-10кВ, устройство насосной станции с забором морской воды, устройство судовых колонок, устройство технологической дороги, реконструкция и расширение ПС 110/10 кВ до 110/35/10 кВ</p>
                <div class="photosGrid">
                    <img src="../assets/back/home.jpg" class="photo" alt="">
                    <img src="../assets/back/home.jpg" class="photo" alt="">
                    <img src="../assets/back/home.jpg" class="photoDouble" alt="">
                    <img src="../assets/back/home.jpg" class="photo" alt="">
                    <img src="../assets/back/home.jpg" class="photo" alt="">
                </div>
            </div>
            <div class="infoRight">
                <img src="../assets/back/home.jpg" class="photoBig" alt="">
                <p style="margin-top: 0;" class="text">Кейс Компании - это более 50 объектов инфраструктурного значения, более 200 км инженерных сетей и коммуникаций, более 200 км ЛЭП, более 10 возведенных зданий и сооружений, разработка концепции.</p>
                <img src="../assets/back/home.jpg" class="photoBig" alt="">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>