.content{
    background: #222;
    display: flex;
    /*opacity: 0; */
    transition: all 0.3 ease-in-out;
}

p{
    margin: 0;
}

.slider{
    flex-grow: 5;
    padding-top: 280px;
    padding-left: 100px;
}

.desc{
    flex-grow: 1;
    padding-top: 280px;
    padding-left: 100px;
    text-align: left;
    display: flex;
}

.lastThumb{
    margin-right: 0 !important;
}

.thumbnails{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 160px;
}

h1{
    color: #fff;
    font-weight: 900;
    font-size: 2.5em;
    margin-top: 0px;
}

h2{
    font-size: 1.5em;
    color: #fac413;
    font-weight: 900;
    margin-bottom: 0;
}

h2 span{
    font-size: 0.5em;
    position: relative;
    top: -12px;
}

.btn-next{
    margin-top: 50px;
    padding-bottom: 27px;
}

p{
    color: #fff;
}

.fafa{
    font-size: 2em;
    padding-left: 30px;
    position: relative;
    top: 3px;
}

.close{
    position: relative;
    top: -10px;
    right: 20px;
    outline: none;
}

.cancel{
    outline: none;
    color: #fff;
    height: 20px;
    cursor: pointer;
}

.title{
    color: #fac413;
    font-weight: 900;
    font-size: 1.5em;
    padding-top: 55px;
}

.extra{
    padding: 50px 100px;
    color: #656565;
    text-align: left;
}

.div{
    height: 2px;
    width: 120px;
    background: #fff;
    margin: 20px 0;
}

.text{
    color: #656565;
    max-width: 450px;
}

.thumb{
    cursor: pointer;
    width: 100%;
    margin-right: 20px;
    background-size: cover;
    background-position: center;
    
}

.mainFrame{
    width: 100%;
    height: 720px;
    background: gray;
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease-in-out;
}

.controls{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.switches{
    display: flex;
    padding: 20px;
    background: #222;
    opacity: 0.8;
}

.switch{
    font-size: 1em;
    font-weight: 900;
    
}

.switch.active p{
    opacity: 1;
}

.switch p{
    opacity: 0.5;
    cursor: pointer;
    color: #fff;
    padding: 0 10px 5px 10px;
    border-bottom: 3px solid #fff;
}

@media only screen and (max-width: 1440px) {
    .slider, .desc{
        padding-top: 120px;
    }
    .slider{
        padding-left: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .desc, .extra{
        padding: 30px;
    }
    .slider{
        padding-top: 80px;
    }
    .content{
        flex-direction: column;
    }
    #tt{
        width: 100%;
    }
    .text{
        max-width: 100%;
    }
    .mainFrame{
        height: 500px;
    }
}

@media only screen and (max-width: 768px) {
    h1{
        font-size: 1.5em;
    }
    h2, .title{
        font-size: 1em;
    }
    .mainFrame{
        height: 400px;
    }
    .thumbnails{
        height: 120px;
    }
}

@media only screen and (max-width: 768px) {
    .mainFrame{
        height: 300px;
    }
    .thumbnails{
        height: 90px;
    }
    .desc{
        padding: 15px;
        padding-top: 30px;
    }
}

@media only screen and (max-width: 405px) {
    .btn-next{
        padding-bottom: 20px;
    }

}